[Unit]
Description=A personal API service, currently hosting ledger service only
After=network.target auditd.service

[Service]
ExecStartPre=/bin/mkdir -p /var/log/td_ledger
ExecStart=/bin/td_ledger
Restart=on-failure
StandardOutput=td_ledger
StandardError=td_ledger

[Install]
WantedBy=multi-user.target
